[submodule "base_control"]
	path = base_control
	url = https://gitee.com/bingda-robot/base_control.git
[submodule "lidar"]
	path = lidar
	url = https://gitee.com/bingda-robot/lidar.git
[submodule "robot_vision"]
	path = robot_vision
	url = https://gitee.com/bingda-robot/robot_vision.git
[submodule "robot_navigation"]
	path = robot_navigation
	url = https://gitee.com/bingda-robot/robot_navigation.git
[submodule "robot_simulation"]
	path = robot_simulation
	url = https://gitee.com/bingda-robot/robot_simulation.git
[submodule "bingda_tutorials"]
	path = bingda_tutorials
	url = https://gitee.com/bingda-robot/bingda_tutorials
[submodule "moveit_msgs"]
	path = moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "niryo_one_ros"]
	path = niryo_one_ros
	url = https://github.com/NiryoRobotics/niryo_one_ros.git
[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
